include *.md *.txt tox.ini LICENSE *.yml *.yaml pyproject.toml .flake8
graft luminoth
recursive-include sonnet *.txt
recursive-include docs *
recursive-include examples *

global-exclude __pycache__
global-exclude *.py[co]
